@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #222222 #0a0a0a;
}
